#albumArt {
    width: 70vw; /* 70% of viewport width */
    height: 70vh; /* 70% of viewport height */
    object-fit: cover; /* Cover the image to maintain aspect ratio */
}

body {
    background-color: black; /* Set body background to black */
    color: white; /* Set text color to white for visibility */
}