<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Art Display</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts for Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body style="font-family: 'Roboto', sans-serif;">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div style="width: 100%;">
            <!-- Album Art -->
            <div class="d-flex justify-content-center">
                <img id="albumArt" src="static/assets/spotify.png" class="card-img-top" alt="Album Art" style="object-fit: contain;">
            </div>
            <div class="card-body text-center">
                <!-- Song Title -->
                <h2 id="title" class="card-title font-weight-bold mb-2"></h2>
                <!-- Artist Name -->
                <h3 id="subtitle" class="card-text mb-1"></h3>
                <!-- Album Name -->
                <h4 id="secondsubtitle" class="card-text text-muted"></h4>
            </div>
        </div>
    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- External JavaScript File -->
    <script src="static/script.js"></script>
</body>
</html>